beautifulsoup4==4.12.2
blinker==1.7.0
certbot-dns-namecheap==1.0.0
click==8.1.7
dns-lexicon==3.17.0
dnspython==2.4.2
filelock==3.13.1
Flask==3.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==5.0.0
MarkupSafe==2.1.3
mock==5.1.0
PyNamecheap==0.0.3
pyotp==2.9.0
requests-file==1.5.1
soupsieve==2.5
tldextract==5.1.1
Werkzeug==3.0.1
