<!DOCTYPE html>
<html lang="en" style="position: relative; min-height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SimpleScan</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" /> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" type="text/css" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top ">
        <!-- Navbar content -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#scannedhosts">Scanned Hosts</a></li>
        <li><a href="#onlinehosts">Online Hosts</a></li>
        <li><a href="#openservices">Open Services</a></li>
        </ul>
		</div>
       </div>
    </nav>
<div class="container-fluid text-center" style="padding-top: 30px;">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="max-width: 400px;"/>
	<h1>SimpleScan</h1>
    <div class="row justify-content-center">
<div class="row justify-content-center">
    <div class="col">
        <div class="form-group" style="max-width: 500px; margin: auto;">
            <input type="text" id="url-input" class="form-control" placeholder="Enter URL or IP Range:'192.168.0.1/24','scanme.org', etc">
        </div>
    </div>
</div>

    </div>
	<br/>
<div class="row justify-content-center print-hide">
    <div class="col-12">
        <button id="scan-btn" class="btn btn-primary">Start Scan</button>
     </div>
<br/>
<div class="print-hide">
<button onclick="printPage()">Print Report</button>
</div>
<br/>
	<!-- Dropdown for retrieving prior scans -->
<div class="btn-group print-hide">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Retrieve Prior Scans <span class="caret"></span>
    </button>
    <ul id="scan-list-retrieve" class="dropdown-menu">
        <!-- Scans will be populated here -->
    </ul>
</div>
<br/>
</div>
    <div id="status"></div>
    <div id="results"></div>
</div>

    <footer class="footer">
        <div class="container-fluid">
            <p class="text-muted">
                SimpleScan is powered by Nmap and brought to you by <a href="https://nextiercyber.com">NexTier Cyber Solutions, LLC</a>.<br/>
                Reports are based on <a href="https://github.com/honze-net/nmap-bootstrap-xsl">Nmap Bootstrap XSL</a>.<br/>
                SimpleScan is Licensed under <a href="https://www.gnu.org/licenses/">GNU General Public License v3.0</a>.<br/>
            </p>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scanner.js') }}"></script>
</body>
</html>

