<!DOCTYPE html>
<html lang="en" style="position: relative; min-height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simple Scanner</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" /> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" type="text/css" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            padding-top: 30px; /* Padding for navbar */
            padding-bottom: 30px; /* Padding for footer */
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Navbar content -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#scannedhosts">Scanned Hosts</a></li>
                    <li><a href="#onlinehosts">Online Hosts</a></li>
                    <li><a href="#openservices">Open Services</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container text-center" style="padding-top: 30px;">
    <h1>Simple Network Scanner</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <input type="text" id="url-input" class="form-control" placeholder="Enter URL or IP Range: Examples > '192.168.0.1/24', '192.168.0.1,192.168.0.33', 'scanme.org', etc">
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12">
            <button id="scan-btn" class="btn btn-primary">Start Scan</button>
        </div>
    </div>
    <div id="status"></div>
    <div id="results"></div>
</div>

    <footer class="footer">
        <div class="container-fluid">
            <h3>Attribution</h3>
            <p class="text-muted">
                Simple Network Scanner is powered by Nmap and brought to you by <a href="https://nextiercyber.com">NexTier Cyber Solutions, LLC</a>.<br/>
                Reports are based on <a href="https://github.com/honze-net/nmap-bootstrap-xsl">Nmap Bootstrap XSL</a>.<br/>
                Licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA</a>.<br/>
            </p>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scanner.js') }}"></script>
</body>
</html>

